einops==0.8.0
grad-cam @ file:///home/ubuntu/grad-cam-1.3.3
imgaug==0.4.0
joblib==1.4.2
matplotlib==3.6.3
numpy==1.19.3
opencv-python==4.10.0.84
pandas==1.4.4
Pillow==10.3.0
plotly==5.22.0
ptflops==0.7.3
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.9.3
seaborn==0.12.2
tensorboard==2.11.2
tensorboardX==2.6.2.2
tensorflow-gpu==2.2.0
thop==0.1.1.post2209072238
timm==0.9.12
torch==2.0.1
torchaudio==2.0.2
torchsummary==1.5.1
torchvision==0.15.2
tqdm==4.66.5
transformers==4.44.2
vit-pytorch==1.4.4
wandb==0.15.10
